---
http_interactions:
- request:
    method: get
    uri: https://pulp.co.epi.web/pulp/api/v2/repositories/ent-cent7-dev/?details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"scratchpad": {}, "display_name": "ent-cent7-dev", "description":
        null, "distributors": [{"repo_id": "ent-cent7-dev", "_href": "/pulp/api/v2/repositories/ent-cent7-dev/distributors/yum_distributor/",
        "_ns": "repo_distributors", "last_publish": "2016-06-29T15:17:30Z", "distributor_type_id":
        "yum_distributor", "auto_publish": true, "scratchpad": {}, "_id": {"$oid":
        "56b50adac20cde71a43ebeaa"}, "config": {"checksum_type": "sha256", "http":
        true, "https": true, "relative_url": "entertainment/dev/centos/7/x86_64"},
        "id": "yum_distributor"}, {"repo_id": "ent-cent7-dev", "_href": "/pulp/api/v2/repositories/ent-cent7-dev/distributors/export_distributor/",
        "_ns": "repo_distributors", "last_publish": "2016-06-29T15:19:01Z", "distributor_type_id":
        "export_distributor", "auto_publish": false, "scratchpad": {}, "_id": {"$oid":
        "56b50adac20cde71a43ebeab"}, "config": {"http": true, "relative_url": "entertainment/dev/centos/7/x86_64",
        "https": true}, "id": "export_distributor"}], "last_unit_added": null, "notes":
        {"_repo-type": "rpm-repo"}, "last_unit_removed": "2016-05-09T19:10:43Z", "content_unit_counts":
        {"rpm": 65}, "_ns": "repos", "importers": [{"scratchpad": null, "_href": "/pulp/api/v2/repositories/ent-cent7-dev/importers/yum_importer/",
        "_ns": "repo_importers", "importer_type_id": "yum_importer", "last_sync":
        null, "repo_id": "ent-cent7-dev", "_id": {"$oid": "56b50adac20cde71a43ebea9"},
        "config": {}, "id": "yum_importer"}], "locally_stored_units": 65, "_id": {"$oid":
        "56b50adac20cde71a43ebea8"}, "total_repository_units": 65, "id": "ent-cent7-dev",
        "_href": "/pulp/api/v2/repositories/ent-cent7-dev/"}'
  recorded_at: Wed, 29 Jun 2016 21:24:47 GMT
- request:
    method: get
    uri: https://localhost:8843/pulp/api/v2/repositories/ent-cent7-dev/?details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"http_request_method": "GET", "exception": null, "error_message":
        "Missing resource(s): repo=ent-cent7-dev", "_href": "/pulp/api/v2/repositories/ent-cent7-dev/?details=true",
        "http_status": 404, "error": {"code": "PLP0009", "data": {"resources": {"repo":
        "ent-cent7-dev"}}, "description": "Missing resource(s): repo=ent-cent7-dev",
        "sub_errors": []}, "traceback": null, "resources": {"repo": "ent-cent7-dev"}}'
  recorded_at: Fri, 15 Jul 2016 14:44:27 GMT
recorded_with: VCR 3.0.3
