---
http_interactions:
- request:
    method: get
    uri: https://pulp.co.epi.web/pulp/api/v2/repositories/forge_dev/?details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"scratchpad": {}, "display_name": "forge_dev", "description": null,
        "distributors": [{"repo_id": "forge_dev", "_href": "/pulp/api/v2/repositories/forge_dev/distributors/puppet_distributor/",
        "_ns": "repo_distributors", "last_publish": "2016-06-28T19:46:22Z", "distributor_type_id":
        "puppet_distributor", "auto_publish": true, "scratchpad": {}, "_id": {"$oid":
        "56ba3b59c20cde7c072e6778"}, "config": {}, "id": "puppet_distributor"}], "last_unit_added":
        "2016-06-28T19:46:14Z", "notes": {"_repo-type": "puppet-repo"}, "last_unit_removed":
        "2016-06-02T18:37:52Z", "content_unit_counts": {"puppet_module": 125}, "_ns":
        "repos", "importers": [{"scratchpad": null, "_href": "/pulp/api/v2/repositories/forge_dev/importers/puppet_importer/",
        "_ns": "repo_importers", "importer_type_id": "puppet_importer", "last_sync":
        null, "repo_id": "forge_dev", "_id": {"$oid": "56ba3b59c20cde7c072e6777"},
        "config": {}, "id": "puppet_importer"}], "locally_stored_units": 125, "_id":
        {"$oid": "56ba3b58c20cde7c072e6776"}, "total_repository_units": 125, "id":
        "forge_dev", "_href": "/pulp/api/v2/repositories/forge_dev/"}'
  recorded_at: Wed, 29 Jun 2016 21:24:48 GMT
recorded_with: VCR 3.0.3
