---
http_interactions:
- request:
    method: post
    uri: https://pulp.co.epi.web/pulp/api/v2/content/units/rpm/search/
    body:
      encoding: UTF-8
      string: '{"criteria":{"fields":["name","version","release","epoch","checksum"],"filters":{"name":{"$regex":"cosmos"}},"sort":[["epoch","descending"],["version","descending"],["release","descending"]]},"include_repos":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"repository_memberships": ["ent-cent7-qa", "ent-cent7-dev"], "name":
        "cosmos-web", "checksum": "8c0b75af5ec12395ff2b7700322aa9e9287fc44ca7f474e5e6edc6bc632df2e5",
        "epoch": "0", "version": "1.0.0_SNAPSHOT", "release": "b20160627.211338.63",
        "_id": "c3dcddf1-3d2f-4387-b06d-0f13076c2e08", "children": {}, "_href": "/pulp/api/v2/content/units/rpm/c3dcddf1-3d2f-4387-b06d-0f13076c2e08/"},
        {"repository_memberships": ["ent-cent7-dev"], "name": "cosmos-web", "checksum":
        "73f8d21e0192945f923e692e3f900db11a99ee84afb1549b1262f05dc2279b81", "epoch":
        "0", "version": "1.0.0_SNAPSHOT", "release": "b20160623.151418.62", "_id":
        "f6767690-ede5-4559-af25-5d870c768bed", "children": {}, "_href": "/pulp/api/v2/content/units/rpm/f6767690-ede5-4559-af25-5d870c768bed/"},
        {"repository_mem[...]
