---
http_interactions:
- request:
    method: post
    uri: https://pulp.co.epi.web/pulp/api/v2/repositories/search/
    body:
      encoding: UTF-8
      string: '{"criteria":{"filters":{"notes._repo-type":{"$in":["puppet-repo"]}}},"details":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"scratchpad": {}, "display_name": "forge_uat", "description": null,
        "distributors": [{"repo_id": "forge_uat", "_href": "/pulp/api/v2/repositories/forge_uat/distributors/puppet_distributor/",
        "_ns": "repo_distributors", "last_publish": "2016-01-20T19:30:35Z", "distributor_type_id":
        "puppet_distributor", "auto_publish": true, "scratchpad": {}, "_id": {"$oid":
        "564104adc20cde2b4d2d7ee3"}, "config": {}, "id": "puppet_distributor"}], "last_unit_added":
        null, "notes": {"_repo-type": "puppet-repo"}, "last_unit_removed": null, "content_unit_counts":
        {"puppet_module": 3}, "_ns": "repos", "importers": [{"scratchpad": null, "_href":
        "/pulp/api/v2/repositories/forge_uat/importers/puppet_importer/", "_ns": "repo_importers",
        "importer_type_id": "puppet_importer", "last_sync": null, "repo_id": "forge_uat",
        "_id": {"$oid": "564104adc20cde2b4d2d7ee2"}, "config": {}, "id": "puppet_importer"}],
        "_id": {"$oid": "564104adc20cde2b4d2d7ee1"}, "id": "forge_uat", "_href": "/pulp/api/v2/repositories/forge_uat/"},
        {"scratchpad": {}, "display_name": null, "description": null, "distributors":
        [{"repo_id": "forge_build", "_href": "/pulp/api/v2/repositories/forge_build/distributors/puppet_distributor/",
        "_ns": "repo_distributors", "last_publis[...]
