---
http_interactions:
- request:
    method: post
    uri: https://pulp.co.epi.web/pulp/api/v2/repositories/forge_dev/actions/sync/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"spawned_tasks": [{"_href": "/pulp/api/v2/tasks/39a84e98-2a0d-41b9-9baa-2c70d2282305/",
        "task_id": "39a84e98-2a0d-41b9-9baa-2c70d2282305"}], "result": null, "error":
        null}'
  recorded_at: Thu, 30 Jun 2016 18:19:20 GMT
recorded_with: VCR 3.0.3
