---
http_interactions:
- request:
    method: post
    uri: https://pulp.co.epi.web/pulp/api/v2/repositories/forge_dev/actions/sync/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"spawned_tasks": [{"_href": "/pulp/api/v2/tasks/b94d1d2b-045f-48d7-8e8c-0ea56d26f031/",
        "task_id": "b94d1d2b-045f-48d7-8e8c-0ea56d26f031"}], "result": null, "error":
        null}'
  recorded_at: Thu, 30 Jun 2016 18:37:10 GMT
- request:
    method: post
    uri: https://localhost:8843/pulp/api/v2/repositories/forge_dev/actions/sync/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"http_request_method": "POST", "exception": null, "error_message":
        "Missing resource(s): repo_id=forge_dev", "_href": "/pulp/api/v2/repositories/forge_dev/actions/sync/",
        "http_status": 404, "error": {"code": "PLP0009", "data": {"resources": {"repo_id":
        "forge_dev"}}, "description": "Missing resource(s): repo_id=forge_dev", "sub_errors":
        []}, "traceback": null, "resources": {"repo_id": "forge_dev"}}'
  recorded_at: Fri, 15 Jul 2016 14:44:28 GMT
recorded_with: VCR 3.0.3
