---
http_interactions:
- request:
    method: post
    uri: https://pulp.co.epi.web/pulp/api/v2/content/units/puppet_module/search/
    body:
      encoding: UTF-8
      string: '{"criteria":{"fields":["author","name","version"],"filters":{"name":{"$regex":"cicd_test"}},"sort":[["author","descending"],["name","descending"],["version","descending"]]},"include_repos":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"repository_memberships": [], "version": "0.1.33-pre78-rev1264a10",
        "_href": "/pulp/api/v2/content/units/puppet_module/bef04f59-fc0c-4475-b26b-7b5b082e4ba8/",
        "author": "entertainment", "_id": "bef04f59-fc0c-4475-b26b-7b5b082e4ba8",
        "children": {}, "name": "cicd_test"}, {"repository_memberships": [], "version":
        "0.1.33-pre76-rev8c3bcb0", "_href": "/pulp/api/v2/content/units/puppet_module/0006c3c0-bda8-49d7-ac2e-efbdca662454/",
        "author": "entertainment", "_id": "0006c3c0-bda8-49d7-ac2e-efbdca662454",
        "children": {}, "name": "cicd_test"}, {"repository_memberships": ["forge_build"],
        "version": "0.1.33-pre75-rev7f3e1e5", "_href": "/pulp/api/v2/content/units/puppet_module/fc350a23-9f99-4b78-b611-df238faf7c4d[...]
