---
http_interactions:
- request:
    method: post
    uri: https://pulp.co.epi.web/pulp/api/v2/repositories/search/
    body:
      encoding: UTF-8
      string: '{"criteria":{"filters":{"notes._repo-type":{"$in":["rpm-repo"]}}},"details":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"scratchpad": {"checksum_type": "sha1"}, "display_name": "puppetlabs-el5_x86_64",
        "description": null, "distributors": [{"repo_id": "puppetlabs-el5_x86_64",
        "_href": "/pulp/api/v2/repositories/puppetlabs-el5_x86_64/distributors/yum_distributor/",
        "_ns": "repo_distributors", "last_publish": "2016-06-29T13:00:24Z", "distributor_type_id":
        "yum_distributor", "auto_publish": true, "scratchpad": {}, "_id": {"$oid":
        "5411d133c20cde0a3becc9f3"}, "config": {"checksum_type": "sha1", "http": true,
        "https": true, "relative_url": "puppetlabs/el/5/products/x86_64"}, "id": "yum_distributor"},
        {"repo_id": "puppetlabs-el5_x86_64", "_href": "/pulp/api/v2/repositories/puppetlabs-el5_x86_64/distributors/export_distributor/",
        "_ns": "repo_distributors", "last_publish": null, "distributor_type_id": "export_distributor",
        "auto_publish": false, "scratchpad": {}, "_id": {"$oid": "5411d133c20cde0a3becc9f4"},
        "config": {"http": true, "relative_url": "puppetlabs/el/5/products/x86_64",
        "https": true}, "id": "export_distributor"}], "last_unit_added": null, "notes":
        {"_repo-type": "rpm-repo"}, "last_unit_removed": null, "content_unit_counts":
        {"rpm": 537}, "_ns": "repos", "importers": [{"scratchpad": {"repomd_revision":
        1467150988, "previous_skip_list": []}, "_href": "/pulp/api/v2/repositories/puppetlabs-el5_x86_64/importers/yum_importer/",
        "_ns": "repo_importers", "importer_type_id": "yum_importer", "last_sync":
        "2016-06-29T13:00:07Z", "repo_id": "puppetlabs-el5_x86_64", "_id": {"$oid":
        "5411d133c20cde0a3becc9f2"}, "config": {"feed": "https://yum.puppetlabs.com/el/5/products/x86_64/",
        "validate": true}, "id": "yum_importer"}], "_id": {"$oid": "5411d133c20cde0a3becc9f1"},
        "id": "puppetlabs-el5_x86_64", "_href": "/pulp/api/v2/repositories/puppetlabs-el5_x86_64/"},
        {"scratchpad": {"checksum_type": "sha1"}, "display_name": "puppetlabs-el5-x86_64-dependencies",
        "description": null, "distributors": [{"repo_id": "puppetlabs-el5-x86_64-dependencies",
        "_href": "/pulp/api/v2/repositories/puppetlabs-el5-x86_64-dependencies/distributors/yum_distributor/",
        "_n[...]
- request:
    method: post
    uri: https://localhost:8843/pulp/api/v2/repositories/search/
    body:
      encoding: UTF-8
      string: '{"criteria":{"filters":{"notes._repo-type":{"$in":["rpm-repo"]}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YWRtaW46YWRtaW4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 15 Jul 2016 14:44:27 GMT
recorded_with: VCR 3.0.3
